<% include ./admin/header %>

<div class="ui main text container segment">
  <div class="ui huge header">New Blog</div>
  <form class="ui form" action="/blogs" method="POST">
    <div class="field">
      <label>Title</label>
      <input type="text" name="blog[title]" placeholder="title">
    </div>
        
    <div class="field">
      <label>Blog Content</label>
      <textarea name="blog[body]" cols="30" rows="10" placeholder="Write Content" required></textarea>
    </div>
    <input type="submit" >
  </form>
</div>

<% include ./admin/footer %>

